
.hero-section{
    background: url(../assets/hero-bg-new.png) no-repeat center center/cover;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.overlay{
    width: 100vw;
    min-height: 100vh;
}

.content-box{
    width: 900px;
    margin: 0 auto;
    /* height: 100vh; */
}

.content-box h1{
    font-size: 120px;
    font-weight: 600;
    text-align: center;
     line-height: 1.2
}
.content-box p{
    font-weight: 200;
    text-align: center;
}

.collection{
    text-align: center;
}

.badge{
    background-color: rgba(210, 188, 187, 0.33);
    border: 1px solid rgba(255, 255, 255, 0.21);
    width: fit-content;
    padding: 5px 15px;
    border-radius: 50px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-left: 3%;
}
.dot{
    background-color: red;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin-right: 10px;
}

.badge p{
    font-weight: 200;
}

.pg{
    line-height: 1.8;
    /* width: 480px; */
    padding: 0px 170px;
}

.btn-box{
    margin: 0px auto;
    width: fit-content;
    margin-top: 50px;
    margin-bottom: 50px;

}

.cta-1{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image{
    /* margin-top: 60px; */
    height: fit-content;
    width: 100%;
}

.btn-icon{
    text-align: center;
    font-size: 14px;
    background-color: blue;
    margin-left: 15px;
    padding: 10px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/* ============================================================= */
/* Media Query */
/* ============================================================= */
/* TABLET VIEW */
@media screen and (max-width: 768px) {
    .content-box{
    width: 100%;
}

    .content-box h1{
    font-size: 60px;
      text-align: left;
   
}
.content-box p{
    font-weight: 200;
    text-align: left;
    padding: 0px 0px;
}


.collection{
    text-align: center;
}

.badge{
    margin-left: 0%;
    margin-bottom: 5px;
}


.pg{
    padding: 0px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 200;
}

.btn-box{
    margin: 0 auto;
    width: fit-content;
    margin-top: 50px;
}

}






